@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
@import url('https://fonts.googleapis.com/css?family=Exo:100,200,300,400,700,800');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');

$col: #0BE;
$errorCol: #F00;
$footerHeight: 20px;

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: 'Exo', sans-serif;
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
  background-color: #172B3A;
  color: #FFF;
  padding: 40px;
  overflow-x: hidden;
  overflow-y: hidden;
  line-height: 16px;
  font-weight: 600;
}

label {
  color: #FFF !important;
}

h1 {
  -webkit-font-smoothing: antialiased;
  font-size: 34px;
  padding: 5px;
  margin: 0 0 20px 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
}

h2 {
  -webkit-font-smoothing: antialiased;
  font-size: 23px;
  font-weight: normal;
  margin: 0 0 15px 0;
}
#nav {
  -webkit-font-smoothing: antialiased;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 200;
}
#nav a {
  color: #6FE !important;
  text-decoration: none;
  text-shadow: 2px 2px 4px #013;
}

#nav a:visited {
  color: #6FE !important;
}

#nav a:hover {
  text-decoration: underline;
}



input a {
  font-family: 'Exo', sans-serif;
  font-weight: normal;
  color: #000;
}
