@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
@import url('https://fonts.googleapis.com/css?family=Exo:100,200,300,400,700,800');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');

$col: #0BE;
$errorCol: #F00;
$footerHeight: 50px;

html {
  height: 100%;
  background-color: #172B3A;
}

body {
  display: grid;
  grid-template-rows: 1fr auto;
  min-height: 100%;
  font-family: 'Exo', sans-serif;
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;


  color: #FFF;
  padding: 40px;
  overflow-x: hidden;
  line-height: 16px;
  font-weight: 600;
}

label {
  color: #FFF !important;
}

h1 {
  font-size: 34px;
  padding: 5px;
  margin: 0 0 20px 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
}

h2 {
  font-size: 23px;
  font-weight: normal;
  margin: 0 0 15px 0;
}
h3 {
  margin: 0 0 10px 0;
}

input a {
  font-family: 'Exo', sans-serif;
  font-weight: normal;
  color: #000;
}
